/* Réinitialisation des styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Titre de la page */
h1 {
    text-align: center;
    color: #3f7d7d;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

/* Formulaire */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-size: 1.1rem;
    font-weight: bold;
}

input, textarea, select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
}

textarea {
    height: 150px;
    resize: none;
}

/* Emoji Selection */
.emoji-list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.emoji {
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.emoji:hover {
    transform: scale(1.2);
}

/* Message de succès */
#message-success {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: green;
    margin-top: 20px;
}

/* Bouton pour soumettre le formulaire */
button {
    background-color: #3f7d7d;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a29e;
}
/* Bouton de retour à l'accueil */
